<app-header></app-header>

<main>
  <app-search></app-search>

  <section class="content">
    <div class="container content__container">
      <div class="content-wrapper">
        <h2 class="content-wrapper__title">Результаты поиска</h2>

        <ul class="cards">
          <app-card title="Марсианин 1"></app-card>
          <app-card title="Марсианин 2"></app-card>
          <app-card title="Марсианин 3"></app-card>
          <app-card title="Марсианин 4"></app-card>
          <app-card title="Марсианин 5"></app-card>
          <app-card title="Марсианин 6"></app-card>
        </ul>
      </div>

      <app-sidebar></app-sidebar>
    </div>
  </section>
</main>
