<aside class="selections-wrapper">
  <h3 class="selections-wrapper__title">Подборки фильмов и сериалов</h3>

  <ul class="selections">
    <app-selection title="Топ-250" description="Подборка фильмов и сериалов с наивысшими оценками зрителей"></app-selection>
    <app-selection title="Посмеяться от души" description="Подборка комедий, которые помогут расслабиться после работы"></app-selection>
    <app-selection title="Запутанный сюжет" description="Триллеры и прключения с запутанным и интересным сюжетом. Невозможно оторваться!"></app-selection>
  </ul>

  <div class="footer">
    <p class="footer__copyright">© ООО «Неткликс», 2024</p>
    <a class="footer__link" href="#!">Политика конфиденциальности</a>
    <a class="footer__link" href="#!">Обработка персональных данных</a>
  </div>
</aside>
