.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  padding: 3px;
  border-radius: 5px;
  background-color: #ff4949;
  height: 50px;
}
.search__input {
  flex-grow: 1;
  min-width: 0;
  height: 100%;
  padding: 14px 30px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
  outline: none;
  font: inherit;
}
.search__input::placeholder {
  color: #878787;
}
.search__btn {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0 20px;
  border: none;
  background-color: transparent;
  outline: none;
  font: inherit;
}
.search__btn-img {
  flex-shrink: 0;
}
.search__btn-text {
  color: #fff;
}

@media (max-width: 768px) {
  .search__input {
    padding: 14px 16px;
  }
  .search__btn {
    padding: 0 15px;
  }
  .search__btn-text {
    display: none;
  }
}
