@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./../public/fonts/inter-v18-cyrillic_latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./../public/fonts/inter-v18-cyrillic_latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./../public/fonts/inter-v18-cyrillic_latin-700.woff2') format('woff2');
}

html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.25;
  color: #000;
}
img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
button, input, a {
  cursor: pointer;
  font: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1196px;
  padding: 0 25px;
  margin: 0 auto;
}

.content {
  padding: 40px 0 94px;
}
.content__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.content-wrapper {
  flex-grow: 1;
}
.content-wrapper__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
}

.film {
  display: flex;
  align-items: start;
  gap: 28px;
}
.film__poster {
  width: calc((100% - 28px) / 2);
  height: auto;
  object-fit: contain;
}
.film__content {
  width: calc((100% - 28px) / 2);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.film__title {
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 400;
}
.film__title span {
  font-weight: 700;
}
.film__style {
  margin-bottom: 2px;
  color: #868686;
  font-size: 16px;
}
.film__rating {
  color: #04a31e;
  font-size: 16px;
  font-weight: 700;
}
.film__description {
  flex-grow: 1;
}
.film__description-text:not(:last-child) {
  margin-bottom: 10px;
}
.film__btn {
  width: 264px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ff4949;
  transition: .3s;
  outline: none;
}
.film__btn:hover {
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

@media (max-width: 768px) {
  .content__container {
    flex-direction: column;
  }
}

@media (max-width: 610px) {
  .content-wrapper_film {
    margin-bottom: 30px;
  }
  .film {
    flex-direction: column;
  }
  .film__poster,
  .film__content {
    width: 100%;
  }
  .film__title {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .film__style {
    margin-bottom: 12px;
  }
}
